

h2, h3 {
    text-align:center;
  }
svg
{
    width: 1920px;
    height: 1080px;
}
.node 
{
        stroke: black;
        stroke-width: 1px;
  }
.node-label {
        font-size: .8em;
        text-anchor: middle;
        alignment-baseline: middle;
  }
  
  .texmex {

    font-size: .8em;
  }
  div.tooltip {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
  }
  